text(weight, size, textColor = black)
    font-family Mulish
    font-weight weight
    font-size size
    color textColor
block(paddingTop, paddingBottom)
    max-width widthDesktop
    text-align center
    margin auto
    padding-top paddingTop
    padding-bottom paddingBottom
bgColor = #F6F6F6
grayColor = #828282
widthDesktop = 945px
body
    margin 0
    padding 0
    text-align center
.main
    block(0, 104px)
    img
        object-fit contain
        max-width 100%
    &-nav
        height 89px
        display flex
        justify-content space-between
        align-items center
        border-bottom 1px solid grayColor
        text(bold, 18px, grayColor)
        div:first-child
            color black
    &-head
        display flex
        justify-content space-between
        align-items flex-end
        padding-top 40px
        padding-bottom 50px
    &-title
        text(bold, 47px)
    &-text
        text(medium, 18px)
    &-lang
        transform rotate(-90deg)
        transform-origin bottom left
        translate 70px 0
        text(bold, 16px)
        a:first-child
            color grayColor
.aboutme-container
    background-color bgColor
    .aboutme
        block(120px, 107px)
        &-title
            text(bold, 34px)
            margin-bottom 18px
        &-text
            text(medium, 18px)
.skills
    block(90px, 110px)
    &-title
        text(bold, 34px)
        margin-bottom 69px
    &-text
        text(medium, 18px)
        margin-bottom 83px
    &-container-card
        display flex
        justify-content space-between
    &-card
        img
            width 89px
        &-text
            text(bold, 14px, grayColor)
            margin 24px 0 41px 0
        &-stars
            font-size 26px
            span
                color #E5E5E5
.portfolio-container
    background-color bgColor
    .portfolio
        block(112px, 99px)
        &-title
            text(bold, 34px)
            margin-bottom 47px
        &-card
            margin-bottom 99px
            img
                max-width 100%
                margin-bottom 44px
            a
                text(medium, 18px)
                color black
                display block
                text-decoration underline
.contacts
    block(114px, 123px)
    &-title
        text(bold, 34px)
        margin-bottom 47px
    &-text
        text(medium, 18px)
        margin-bottom 30px
    button
        height 42px
        width 180px
        margin-bottom 86px
        border-radius 30px
        background-color black
        color white
        text(bold, 18px)
    .contacts-social
        display flex
        justify-content space-between
        margin 0 30% 0 30%
        img
            width 40px
        margin-bottom 46px
    .contacts-social-text
        text(medium, 14px, grayColor)