extends ../layout/main

block variables
	- var title = 'Denis Novik'
	- var pageClass = 'index-page'

block content
	.main
		.main-nav
			div
				a(href="")  Home
			div
				a(href="")  About me
			div
				a(href="")  Skills
			div
				a(href="")  Portfolio
			div
				a(href="")  Contacs
		.main-head
			.main-title Denis<br>Novik
			.main-text
				| UX | UI designer<br>
				| 24 years old, Minsk
			.main-lang
				a(href="") RU
				span  | 
				a(href="") ENG
		img(src="/../../static/img/content/denisnovik.png", alt="")
	.aboutme-container
		.aboutme
			.aboutme-title About me
			.aboutme-text
				| Hi, I'm Denis – UX/UI designer from Minsk.<br>
				| I'm interested in design and everything connected with it.<br><br><br>
				| I'm studying at courses "Web and mobile design interfaces" in IT-Academy.<br><br><br>
				| Ready to implement excellent projects with wonderful people.
	.skills
		.skills-title Skills
		.skills-text
			| I work in such programs as<br>
		.skills-container-card
			.skills-card
				img(src="/../../static/img/content/ps.png", alt="")
				.skills-card-text Adobe<br>Photoshop
				.skills-card-stars &#9733; &#9733; &#9733; &#9733;
					span &#9733;
			.skills-card
				img(src="/../../static/img/content/ai.png", alt="")
				.skills-card-text Adobe<br>Illustrator
				.skills-card-stars &#9733; &#9733; &#9733;
					span &#9733; &#9733;
			.skills-card
				img(src="/../../static/img/content/ae.png", alt="")
				.skills-card-text Adobe<br>After Effects
				.skills-card-stars &#9733; &#9733; &#9733; &#9733;
					span &#9733;
			.skills-card
				img(src="/../../static/img/content/f.png", alt="")
				.skills-card-text Figma<br>&nbsp;
				.skills-card-stars &#9733; &#9733; &#9733; &#9733;
					span &#9733;
	.portfolio-container
		.portfolio
			.portfolio-title Portfolio
			.portfolio-card
				img(src="/../../static/img/content/fashion.png", alt="")
				a(href="")  Online fashion store - Homepage
			.portfolio-card
				img(src="/../../static/img/content/reebok.png", alt="")
				a(href="")  Reebok Store - Concept
			.portfolio-card
				img(src="/../../static/img/content/braun.png", alt="")
				a(href="")  Braun Landing Page - Concept
	.contacts
		.contacts-title Contacts
		.contacts-text
			| Want to know more or just chat?<br>
			| You are welcome!
		button Send message
		.contacts-social
			a(href="")
				img(src="/../../static/img/content/in.png", alt="")
			a(href="")
				img(src="/../../static/img/content/inst.png", alt="") 
			a(href="")
				img(src="/../../static/img/content/be.png", alt="")
			a(href="")
				img(src="/../../static/img/content/dr.png", alt="") 
		.contacts-social-text
			| Like me on<br>
			| LinkedIn, Instagram, Behance, Dribble